<div class="menu">
  <div class="nav_head">
    <div class="nav-list">
      <span>
        <p class="navi_title">热门手机</p>
        <p class="goodType" name="goodName">iPhone</p>
        <p class="goodType" name="goodName">小米</p>
        <p class="goodType" name="goodName">华为</p>
        <p class="goodType" name="goodName">OPPO</p>
        <p class="goodType" name="goodName">VIVO</p>
        <p class="goodType" name="goodName">三星</p>
      </span>
      <span>
        <p class="navi_title">电脑整机</p>
        <p class="goodType" name="goodName">笔记本</p>
        <p class="goodType" name="goodName">平板电脑</p>
        <p class="goodType" name="goodName">台式机</p>
        <p class="goodType" name="goodName">游戏本</p>
      </span>
      <span>
        <p class="navi_title">智能数码</p>
        <p class="goodType" name="goodName">智能手表</p>
        <p class="goodType" name="goodName">智能手环</p>
        <p class="goodType" name="goodName">VR眼镜</p>
        <p class="goodType" name="goodName">智能摄像</p>
      </span>
      <span>
        <p class="navi_title">摄影摄像</p>
        <p class="goodType" name="goodName">相机</p>
        <p class="goodType" name="goodName">单反</p>
        <p class="goodType" name="goodName">摄像机</p>
        <p class="goodType" name="goodName">拍立得</p>
      </span>
      <span>
        <p class="navi_title">影音娱乐</p>
        <p class="goodType" name="goodName">耳机</p>
        <p class="goodType" name="goodName">天猫魔盒</p>
        <p class="goodType" name="goodName">数码影音</p>
      </span>
      <span>
        <p class="navi_title">办公文教</p>
        <p class="goodType" name="goodName">文具</p>
        <p class="goodType" name="goodName">电子书</p>
        <p class="goodType" name="goodName">智能投影</p>
      </span>
      <span>
        <p class="navi_title">数码配件</p>
        <p class="goodType" name="goodName">手机配件</p>
        <p class="goodType" name="goodName">笔记本配件</p>
        <p class="goodType" name="goodName">平板配件</p>
        <p class="goodType" name="goodName">相机配件</p>
      </span>
    </div>
  </div>

</div>

<!-- slider -->
<div class="contain">
  <div class="container main_left">
    <app-search></app-search>
    <div class="doBtn">
      <div class="bg-info text-white buy_butn">
        <a [routerLink]="['/products']">二手商城</a>
      </div>
      <div class="bg-warning text-white sell_butn">
        <a [routerLink]="['/sell']">闲置转让</a>
      </div>
    </div>
    <div class="doBtn">
      <div class="bg-success text-white oder_butn">
        <a [routerLink]="['/cart']">愿望清单</a>
      </div>
      <div class="bg-default text-white news_butn">
        <a [routerLink]="['/news']">消息通知</a>
      </div>
    </div>

  </div>
  <div id="demo" class="main_right container carousel slide" data-ride="carousel">
    <div class="container img_slide">
      <!-- 指示符 -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>

      <!-- 轮播图片 -->
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="../../assets/img/banner/1.jpg" alt="..." />
          <!-- <div class=" carousel-caption">
                <h3>第一张图片描述标题</h3>
                <p>描述文字!</p>
              </div> -->
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner/2.jpg" alt="..." />
          <!-- <div class=" carousel-caption">
                <h3>第二张图片描述标题</h3>
                <p>描述文字!</p>
              </div> -->
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner/3.jpg" alt="..." />
          <!-- <div class=" carousel-caption">
                <h3>第三张图片描述标题</h3>
                <p>描述文字!</p>
              </div> -->
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner/4.jpg" alt="..." />
          <!-- <div class=" carousel-caption">
                <h3>第三张图片描述标题</h3>
                <p>描述文字!</p>
              </div> -->
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner/5.jpg" alt="..." />
          <!-- <div class=" carousel-caption">
                            <h3>第三张图片描述标题</h3>
                            <p>描述文字!</p>
                          </div> -->
        </div>
      </div>

      <!-- 左右切换按钮 -->
      <a class="carousel-control-prev slide-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next slider-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
